@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&subset=cyrillic');

body {
    font-family: 'Roboto', sans-serif;
	font-size: 16px;
	cursor: default;
}

body,ul,h1,h2,h3,h4,h5,h6,p,button,div {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

@media screen and (min-width: 1000px) {
    .main-navigation {
        position: relative;
        background-color: #fff;
        overflow: hidden;
    }

    .site-navigation__list {
        display: flex;
        padding: 40px;
        justify-content: center;
        align-items: center;
    }

    .site-navigatioon__item {
        flex-grow: 5;
        display: flex;
        justify-content: center;
		align-items: center;
		transition: 1s;
    }

    .site-navigatioon__item a {
		display: block;
		width: 100%;
		text-align: center;
        text-transform: uppercase;
        color: #000;
        font-weight: 700;
        transition: 0.8s;
        padding: 10px;
	}

	.site-navigatioon__item:nth-of-type(1) a::before {
		content: "";
		display: block;
        background-image: url(../img/internet.svg);
        background-size: 60px 60px;
        background-repeat: no-repeat;
        background-position: center;
        flex-basis: 60px;
        height: 60px;
	}

    .site-navigation__list:hover .site-navigatioon__item a {
		opacity: 0.1;
    }

    .site-navigation__list .site-navigatioon__item a:hover {
        transform: scale(1.25);
        opacity: 1;
    }

    .site-navigation__list .site-navigatioon__item a:active {
        opacity: 0.4;
    }

    .slider {
        position: relative;
        height: 100vh;
        flex-grow: 1;
        display: flex;
        background: #000;
    }

    .screen {
        position: relative;
        flex-grow: 2;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        overflow: hidden;
        transition: 1s;
    }

	.slider:hover .screen,
	.slider:focus .screen {
        opacity: 0.1;
    }

	.slider .screen:hover,
	.slider .screen:focus {
        flex-grow: 5;
        opacity: 1;
    }

    .screen:nth-of-type(1) {
        background-image: url(../img/site-example.png);
        background-color: #fec00e;
        background-repeat: no-repeat;
        background-position: center;
    }

    .screen:nth-of-type(2) {
        background-image: url(../img/vscode-icon.png);
        background-color: #373277;
        background-repeat: no-repeat;
        background-position: center;
    }

    .screen:nth-of-type(3) {
        background-image: url(../img/github-logo.png);
        background-color: #eee;
        background-repeat: no-repeat;
        background-position: center;
    }

    .screen .screen-item {
        position: absolute;
        width: 200px;
        height: auto;
        background-color: #fff;
        padding: 40px;
        box-sizing: border-box;
        transform: translateX(100%);
        transition: 0.5s;
        text-align: center;
    }

    .screen:hover .screen-item {
        transform: translateX(0);
        transition-delay: 0.5s;
    }

    .screen-item .screen-text {
        display: block;
        text-transform: uppercase;
        font-weight: 700;
	}

	.features {
		padding: 40px;
		display: flex;
		flex-direction: column;
		align-items: center;
		background-color: #fff;
		box-sizing: border-box;
	}

	.features-title {
		box-sizing: border-box;
		flex-basis: 100px;
		padding: 40px 0;
		color: #000;
		text-transform: uppercase;
		font-size: 18px;
		font-weight: 700;
		transition: 0.5s;
	}

	.features-title:hover {
		transform: scale(1.25);
	}

	.features-list {
		margin-top: 130px;
		display: flex;
		transition: 0.5s;
	}

	.features-item {
		position: relative;
		width: 20px;
		height: 20px;
		background-color: #777;
		border-radius: 50%;
		transition: 0.5s;
		cursor: pointer;
	}

	.features-item:not(:last-of-type) {
		margin-right: 20px;
	}

	.features-item:hover {
		background-color: #86ff3b;
		box-shadow: 0 0 0 4px #fff,
					0 0 0 6px #86ff3b;
	}

	.content {
		position: absolute;
		bottom: 55px;
		width: 400px;
		background-color: #eee;
		padding: 20px;
		box-sizing: border-box;
		border-radius: 4px;
		visibility: hidden;
		opacity: 0;
		transition: 0.5s;
		transform: translate(-50%, -50px);
		text-align: center;
	}

	.features-item:hover .content {
		visibility: visible;
		opacity: 1;
		transform: translate(-50%, 0px);
	}
}

.visually-hidden {
    position: absolute;
    width: 0px;
    height: 0px;
    margin: 0px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}
